@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  color-scheme: light;
  --foreground-rgb: 12, 12, 12;
  --background-rgb: 224, 224, 216;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
